.vscode
.agents
.codex
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!vendor/libsysy/libsysy_arm.a

# Executables
*.exe
*.out
*.app

**/build
HW11/build/
final/output/
output/
**/*.pdf
**/*.zip

**/*.ast
**/*.my

**/*.quad
tmp
contest-docs/
test/performance_final/*.in
test/performance_final/*.out
